/* DEFAULTS
----------------------------------------------------------*/

body#out {
	background-color:#c8c8c8;
	background-image:url('http://www.cse.unr.edu/~krystap/images/pbg.png');
	background-repeat:repeat-x;
	}
	
body   
{
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
	text-decoration: none;
	font: 11px arial,sans-serif;
	color: #3f3f3f;
	padding: 15px;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
   	font: arial,sans-serif;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
 
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
   	font: 11px arial,sans-serif;
}
.layout 
{
   	background-color:#000000;
	border: solid 1px #000000;
	width:800px;
	height: 600px; 
	position:absolute;
	top:20px;
	left: 50%;
	margin-left:-400px;
}

.header 
{
	background-image:url('http://www.cse.unr.edu/~krystap/images/pbanner.png');
	height:119px;
	width:599px;
	position: absolute;
	left: 201px;
	top: 0px
}

.navi
{
	background-color:#dfdfdf;
	position: absolute;
	height: 575px;
	width: 150px;
	padding: 25px 25px 0 25px;
	top: 0px;
	left: 0px;
	font: 11px arial,sans-serif;
	color: #3f3f3f 
}

.main 
{
   	background-color:#ffffFf;
    border: solid 1px #000000;
	position: absolute;
	height: 470px;
	width: 579px;
	padding: 10px 10px 0 10px;
	left: 200px;
	top: 119px;
	text-decoration: none;
	font: 11px arial,sans-serif;
	color: #3f3f3f;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
    font: 11px arial,sans-serif;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: ;
    border: 0px #4e667d solid;
    color: #3f3f3f;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: Bold;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/
.cssWdth
{
    width: 95%;
}
.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #3f3f3f;
}

.loginDisplay a:link
{
    color: #3f3f3f;
}

.loginDisplay a:visited
{
    color: #3f3f3f;
}

.loginDisplay a:hover
{
    color: #3f3f3f;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

<asp:GridView runat="server" CssClass="DataWebControlStyle">
   <AlternatingRowStyle CssClass="AlternatingRowStyle" />
   <RowStyle CssClass="RowStyle" />
   <HeaderStyle CssClass="HeaderStyle" />
   <SelectedRowStyle CssClass="SelectedRowStyle" />
</asp:GridView>